@import '../../variables.scss';


.category-form {
    padding: 5%;

    div {
        text-align: center;
        margin: 10px;
    }

    form {
        display: grid;

        input[type=submit] {
            background-color: $q-dark;
            color: $q-medium;
        }
    }
}
