@import '../../variables.scss';

.quiz {
    height: 45%;
    background-color: $q-light;
    padding: 5%;
    @media(min-width: 768px) {
        height: 30%;
        padding: 5% 10%;
    }
    @media (min-width: 1024px) {
        padding: 5%;
        width: 50%;
    }

    .quiz-header {
        display: flex;
        justify-content: space-between;
        @media(min-width: 768px) {
            margin: 20px 0px;
        }

        button {
            font-size: 10px;
            padding: 5px;
            height: 30px;
            margin-top: 8px;
            font-family: $q-text;
        }
    }

    .question {
        background-color: $q-dark;
        color: $q-light;
        font-family: $q-text;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .all-correct {
        margin: 30px 0px;
        text-align: center;
    }

    button {
        font-family: $q-text;
        font-size: 15px;
    }
    .reset-btn {
        float: right;
        
    }
}