@import '../../variables.scss';

.custom-list {
    padding: 5%;

    h2 {
        font-size: 20px;
    }

    .each-cat {
        margin: 15px 0px;
        border: solid black 1px;
        padding: 10px;

        .category {
            display: flex;
            justify-content: space-between;

        }

        .category-name {
            color: black;
        }

        button {
            font-size: 10px;
        }
    }

    
}
