@import '../../variables.scss';

.container {
    @media (min-width: 1024px) {
        width: 50%;
        margin-top: 5%;
    }

    h3 {
        width: 80%;
        text-align: center;
        background-color: $q-dark;
        color: $q-light;
        padding: 5px;
        margin: 0 auto;
    }
}
#viz {
    display: flex;
    justify-content: center;
}
svg {
    width: 400px;
    height: 300px;
    
}

// .name {
//     color: $q-dark;
// }