@import '../../variables.scss';

#viz {
    display: flex;
    justify-content: center;
}
svg {
    width: 400px;
    height: 300px;
    border: 1px black solid;
}

// .name {
//     color: $q-dark;
// }