@import './variables.scss';


.App {
  background-color: $q-light;
  // border: solid black;
  font-family: $q-header;
  height: 700px;

  header {
    background-color: $q-dark;
    font-family: $q-header;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

      div {
      align-items: center;
      }
    

    
  }

  main {
    height: 100%;
    // padding: 5%;

    .select-cat {
      text-align: center;
      margin: 30px;
    }

  }

}
